body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -2.5px;
    line-height: 1.1;
    max-width: 600px;
    margin-bottom: 65px;
}

.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
}

.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 14px;
}

.title-40 {
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    font-size: 40px;
    letter-spacing: -1.1px;
}

.title-40 span {
    display: block;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}

.content-app .title-h2 {
    margin-bottom: 36px;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.box-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 305px;
}

.logo {
    display: block;
    width: 181px;
    height: 49px;
    background-image: url(../img/logo.png);
}

.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav>li {
    padding: 0 20px;
}

.nav-item {
    color: #6e7ea9;
    letter-spacing: 2px;
}

.screen-img {
    background-image: url(../img/header-screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    top: 188px;
    right: -65px;
}

.btn-group a + a {
    margin-left: 15px;
}

.btn-primary {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    color: #fff;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    padding: 20px 40px;
    border-radius: 30px;
    transition: 0.4s;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-secondary {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    color: #7e8bae;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    padding: 20px 40px;
    border-radius: 30px;
    transition: 0.4s;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-free {
    font-weight: 400;
   padding: 20px 56px;
   letter-spacing: 1.7px;
}

.btn-info {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    padding: 20px 40px;
    border-radius: 30px;
    transition: 0.4s;
}

.btn-info:hover {
    color: #fff;
    background-color: #8085b1;
}

.list-company {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
}

.list-company-item {
    display: block;
}

.company-one  {
    background-image: url(../img/token-logo.png);
    flex-basis: 198px;
    height: 58px;
}

.company-two  {
    background-image: url(../img/magneto-logo.png);
    flex-basis: 200px;
    height: 69px;
}

.company-three  {
    background-image: url(../img/boohoo-logo.png);
    flex-basis: 201px;
    height: 47px;
}

.company-four  {
    background-image: url(../img/fractal-logo.png);
    flex-basis: 200px;
    height: 69px;
}

.grid {
    display: grid;
    grid-template-areas: "a c d"
                         "b c d"
                         "b f g"
                         "e f g"
                         "e h h";
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1110px;
    margin: 0 auto;
}

.grid-item {
    text-align: center;
    box-shadow: 5px 10px 10px #f4f4f4;
    border-radius: 14px;
    padding: 43px 46px 53px;
}

.grid-icon {
    background-repeat: no-repeat;
    background-position: center;
    height: 92px;
    display: block;
    margin: 0 auto 21px;
}

.grid-title {
    grid-area: a;
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
}

.grid-item-6 {
    grid-area: g;
}

.grid-text {
    grid-area: h;
    padding-left: 44px;
}

.grid-text p {
    margin-top: 30px;
}

.grid-text p:nth-child(2) {
    color: #1085e4;
    font-size: 14px;
}

.grid-text p span {
    font-size: 16px;
    font-weight: 700;
    color: #192b59;
} 

.grid-icon-1 {
    background-image: url(../img/hand-icon.png);
    background-size: 79px 82px;
}

.grid-icon-2 {
    background-image: url(../img/document-icon.png);
    background-size:73px 79px;
}

.grid-icon-3 {
    background-image: url(../img/tools-icon.png);
    background-size: 83px 85px;
}

.grid-icon-4 {
    background-image: url(../img/gear-icon.png);
    background-size: 103px 92px;
}

.grid-icon-5 {
    background-image: url(../img/design-icon.png);
    background-size: 85px 90px;
}

.grid-icon-6 {
    background-image: url(../img/support-icon.png);
    background-size: 100px 87px;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
} 

.grid h2 span{
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    display: block;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
} 

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.subscribe-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-subscribe {
    text-align: left;
}

.page-subscribe h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    display: block;
}

.page-subscribe h2 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin-top: 0px;
    margin-bottom:25px;
}

.page-subscribe p {
    font-size: 18px;
    font-weight: 400;
    color: #dfe8ff;
    width: 65%;
}

.img-subscribe {
    width: 354px;
    height: 417px;
}

.box-subscribe-user {
    position: relative;
}

.box-subscribe-user input {
    border: 2px solid #3f5cb1;
    font-size: 14px;
    border-radius: 45px;
    background-color: transparent;
    color: #fff;
    padding: 25px 230px 25px 37px;
    box-sizing: border-box;
    display: block;
    width: 84%;
}

.box-subscribe-user input:focus, .box-subscribe-user .btn-primary {
    outline: none;
}

.box-subscribe-user input::-webkit-input-placeholder {color: #b1c3ee}
.box-subscribe-user input::-moz-input-placeholder {color: #b1c3ee}
.box-subscribe-user input:-moz-input-placeholder {color: #b1c3ee}
.box-subscribe-user input:-ms-input-placeholder {color: #b1c3ee}

.box-subscribe-user .btn-primary {
    position: absolute;
    top: 8px;
    right: 112px;
    padding: 18px 52px;
}

.box-subscribe-user .btn-primary:hover {
    background-color: transparent;
    color: #fff;
}

.page-software-flex {
    display: flex;
    justify-content: flex-end;
}

.software-img {
    background-image: url(../img/grub-pic.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 122px;
    left: -122px;
    width: 931px;
    height: 760px;
}

.page-software-flex>div {
    flex-basis: 55%;
}

.page-software-icon {
    display: block;
    position: absolute;
    top: 116px;
    left: 760px;
    background-image: url(../img/software-icon.png);
    background-repeat: no-repeat;
    width: 115px;
    height: 97px;
}

.page-software .title-h2, .page-analitycs .title-h2{
    max-width: 550px;
    margin-top: 12px;
    margin-bottom: 26px;
}

.page-software-list {
    margin-top: 30px;
    height: 323px;
    overflow: hidden;
    overflow-y: scroll;
}

.page-software-list::-webkit-scrollbar { width: 4px; height: 4px;}
.page-software-list::-webkit-scrollbar-button {  background-color: #1085e4; }
.page-software-list::-webkit-scrollbar-track-piece { background-color: #f5faff;}
.page-software-list::-webkit-scrollbar-thumb {height: 50px; background-color: #1085e4; border-radius: 10px;}

.page-software-list dt {
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 10px;
}

.page-software-list dd {
    margin-left: 0;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 1.8;
}

.list-stat {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0px;
    margin-top: 76px;
}

.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.list-stat>li>span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 23px;
    letter-spacing:0;
}

.content-app {
    width: 55%;
}

.page-app-text {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c4d2dd;
    margin-top: 27px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}

.page-app-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -7px;
}

.page-app-android {
    display: block;
    background-image: url(../img/google-btn.png);
    background-repeat: no-repeat;
    width: 161px;
    height: 53px;
}

.page-app-ios {
    display: block;
    background-image: url(../img/app-store-btn.png);
    background-repeat: no-repeat;
    width: 153px;
    height: 53px;
    margin-left: 29px;
}

.video-app {
    position: absolute;
    top: -61px;
    right: -172px;;
}

.flex-analitycs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.flex-analitycs>div {
    flex-basis: 53%;
}

.page-software-icon.icon-analitycs {
    top: -73px;
    left: 501px;
}

.page-analitycs-text {
 margin-bottom: 54px;
}

.screen {
    margin-top: 36px;
    margin-bottom: -7px;
}

.box-price {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}

.box-price-item {
    flex-basis: 32%;
    background-color: #f5faff;
    position: relative;
    padding: 90px 0 96px;
}

.box-price-item h3{
    font-size: 70px;
    color: #000958;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 15px;
}

.box-price-item.active h3 {
    color:#fff;
}

.box-price-item h3 span{
    font-size: 20px;
}

.box-price-item.active h3 span:first-child {
    color:#fff;
}

.box-price-item p{
    font-size: 14px;
    font-weight: 700;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.box-price-item:first-child h3 {
    margin-bottom: 35px;
}

.box-price-item h3 span:first-child {
    color: #000958;
}

.box-price-item h3 span:last-child {
    color: #7b8ab2;
}

.box-price-item.active {
    background-color: #192b59;
    color: #fff
}

.box-price-item ul{
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin-top: 37px;
    margin-bottom: 52px;
}

.box-price-item ul li{
    font-size: 14px;
    margin-bottom: 14px;
}

.box-price-item ul li:last-child {
    margin-bottom: 61px;
}

.box-price-item .btn-info{
    padding: 20px 63px;
}

.box-price-item .btn-primary {
    padding: 20px 63px;
}

.box-price-item .btn-primary:hover {
    color: #1085e4;
    background-color: transparent;
}

.box-price-item::after {
    content: "";
    width: 58px;
    height: 100%;
    background-image: url(../img/triangle.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

.box-price-item.active::after {
    display: none;
}



/* PAGE */

.page-stat .title-h2, .page-screen .title-h2 {
    text-align: center;
    margin: 0 auto;
}

.page-stat .title-h2 {
    max-width: 500px;
}

.page-header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 330px;
    position: relative;
}

.page-company {
    background-image: url(../img/logo-line-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 106px 0 99px;
}

.page-grid {
    padding: 84px 0 75px;
}

.page-subscribe {
    padding: 55px 0 50px 0;
    background: rgba(10,32,144,1);
    background: -moz-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: -webkit-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}

.page-software {
    position: relative;
    padding: 208px 0px 167px;
    background-image: url(../img/grub-bg.png);
    background-repeat: no-repeat;
    background-position: -124px 0;
}

.page-stat, .page-screen {
    background-color: #edf6ff;
}

.page-stat {
    padding: 116px 0 96px 0;
}

.page-app {
    padding: 69px 0 82px;
}

.page-app .wrap {
    position: relative;
}

.page-analitycs {
    background-image: url(../img/limp-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 117px 0 137px;
}

.page-plan, .page-screen {
    text-align: center;
}

.page-screen {
    padding: 116px 0 0px 0;
}